<h1 mat-dialog-title class="title">
  Create New Task <br />
</h1>

<mat-dialog-content [formGroup]='form'>

  <mat-form-field>
    <input
    matInput
    maxlength="20"
    placeholder="Task goes here..."
    formControlName='text'
    (keydown.enter)="submit()">
  </mat-form-field>

</mat-dialog-content>

<div fxLayout="column" style="color: DF56A;" fxLayoutGap="5px">
  <small *ngIf="form.controls['text'].hasError('minlength') && form.controls['text'].touched">The name must be at least
    three characters long.</small>
</div>

<mat-dialog-actions align='end'>
  <button mat-button  [disabled]="!form.valid" (click)="submit()">Save</button>
</mat-dialog-actions>



