.main-welcome {
  margin-top: 30px;
  margin-bottom: 60px;
}

.title {
  font-weight: lighter;
  font-size: 36px;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

img {
  width: 50%;
  height: auto;
  margin: 20px;
}

.photo {
  text-align: center;
  margin: 20px;
}

mat-card {
  width: 60%;
  margin: auto;
}
