<div fxLayout="column" class="main-welcome">

  <mat-card>
    <mat-card-title class="title">
      About Us <br />
    </mat-card-title>

    <div class='photo'>
      <img src='assets/images/small-business.jpg'>
    </div>

    <mat-card-subtitle class="subtitle">We are a small, family company, that takes managing tasks very
      seriously. The more tasks you have, the less stress we want you to have by having the ability to
      manage said tasks. We started as a small task managing company for three small businesses in our
      small town. After finding success with pencil and paper, we decided to take out efforts to a
      higher echelon – the cyber world! Our founder, the late Mr. J.G. Nodebucket, had one dream, for
      all people to never go without a way to manage tasks. Mr. Nodebucket grew up very poor, and he
      found that his parents misfortune stemmed from the fact that they weren’t managing their tasks
      well, nor had a way to do so. His first ideas allowed him and his family to become financially
      stable, and after college, Mr. Nodebucket patented his world-famous “To-Do” List, and become a
      millionaire overnight. Although Nodebucket was a small business for a few short years, it had
      made so much money that the next steps must be made with the computer. Right on the cusp of
      creating such a thing, Y2K struck, and Mr. Nodebucket went into hiding for nearly 20 years. Now,
      with a more renown understanding of the computer, we are back with the next best Task managing
      service the world has ever seen. Nodebucket has nearly grew 100x since it’s inception, and is now
      offering the best it has ever produced. We love tasks here at Nodebucket, and hopefully soon you
      will too!
    </mat-card-subtitle>

  </mat-card>

</div>
